<!-- script -->
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-datalabels@2.0.0"></script>

<!-- chart表示用script -->
<script>
  Chart.register(ChartDataLabels);
  let show_data = {
    daily:
      {
        labels: [],
        tasks: [],
        started_tasks: [],
        finished_tasks: [],
        successful_tasks: [],
        base_motivations: [],
        total_motivations: [],
        motiv_need_to_getStart: [],
        motiv_need_to_getItDone: [],
        usersWaves: [],
        worksWaves: [],
        bar7_efficacy_rate_ma: [],
        bar14_efficacy_rate_ma: [],
      },
    weekly:
      {
        labels: [],
        tasks: [],
        started_tasks: [],
        finished_tasks: [],
        successful_tasks: [],
        base_motivations: [],
        total_motivations: [],
        motiv_need_to_getStart: [],
        motiv_need_to_getItDone: [],
        usersWaves: [],
        worksWaves: [],
        bar1_efficacy_rate: [],
        bar7_efficacy_rate_ma: [],
        bar14_efficacy_rate_ma: [],
      },
    monthly:
      {
        labels: [],
        tasks: [],
        started_tasks: [],
        finished_tasks: [],
        successful_tasks: [],
        base_motivations: [],
        total_motivations: [],
        motiv_need_to_getStart: [],
        motiv_need_to_getItDone: [],
        usersWaves: [],
        worksWaves: [],
        bar7_efficacy_rate_ma: [],
        bar14_efficacy_rate_ma: [],
      },
  }

  const data = <%- data %>
  let data_arr = data.graph_data;
  
  // daily用に集計
  for(var i = 0; i < data_arr.length; i++){
    // x軸ラベル
    show_data.daily.labels[i] = dayjs(data_arr[i].x).format('YYYY.MM.DD');
    // 設定タスク数
    show_data.daily.tasks[i] = data_arr[i].task;
    // 開始タスク数
    show_data.daily.started_tasks[i] = data_arr[i].started_task;
    // 終了タスク数
    show_data.daily.finished_tasks[i] = data_arr[i].finished_task;
    // resultが成功になっているタスク数
    show_data.daily.successful_tasks[i] = data_arr[i].successful_task;
    // motivationは1日に複数ある場合があるが、平均を1日の代表値として扱う
    let base_motiv_avg = 0, total_motiv_avg = 0, getStart_avg = 0, getItDone_avg = 0;
    let cnt = [0,0,0,0];
    for( j of data_arr[i].motivations){
      if(j.motivation) {
        base_motiv_avg += j.motivation;
        cnt[0] += 1;
      }
      if(j.totalMotivation){
        total_motiv_avg += j.totalMotivation;
        cnt[1] += 1;
      }
      if(j.motiv_need_to_getStart){
        getStart_avg += j.motiv_need_to_getStart;
        cnt[2] += 1;
      }
      if(j.motiv_need_to_getItDone){
        getItDone_avg += j.motiv_need_to_getItDone;
        cnt[3] += 1;
      }
    }
    // console.log(data_arr[i].motivations)
    base_motiv_avg = Math.round(base_motiv_avg / cnt[0] * Math.pow(10,2)) / Math.pow(10,2);
    total_motiv_avg = Math.round(total_motiv_avg / cnt[1] * Math.pow(10,2)) / Math.pow(10,2);
    getStart_avg = Math.round(getStart_avg / cnt[2] * Math.pow(10,2)) / Math.pow(10,2);
    getItDone_avg = Math.round(getItDone_avg / cnt[3] * Math.pow(10,2)) / Math.pow(10,2);
    // 基礎モチベーション
    show_data.daily.base_motivations[i] = base_motiv_avg ? base_motiv_avg : 0;
    // 総合モチベーション
    show_data.daily.total_motivations[i] = total_motiv_avg ? total_motiv_avg : 0;
    // タスク開始に必要なモチベーション
    show_data.daily.motiv_need_to_getStart[i] = getStart_avg ? getStart_avg : 0;
    // タスク終了に必要なモチベーション
    show_data.daily.motiv_need_to_getItDone[i] = getItDone_avg ? getItDone_avg : 0;
    // ユーザの波
    show_data.daily.usersWaves[i] = data_arr[i].waves[0].value;
    // ワークの波
    show_data.daily.worksWaves[i] = data_arr[i].worksWaves[0].value;

    function getMAinArray(loop_index, n=7){
      if(loop_index >= (n - 1)){
        let task1week_total=0, finished_task1week_total=0;
        for(j=loop_index; j >= loop_index-(n-1); j--){
          // 設定したタスクを集計
          task1week_total += show_data.daily.tasks[j];
          // 終了できたタスクを集計
          finished_task1week_total += show_data.daily.finished_tasks[j];
        }
         return Math.round(finished_task1week_total / task1week_total * Math.pow(10,2)) / Math.pow(10,2);
      }else{
        return null;
      }
    }
    show_data.daily.bar7_efficacy_rate_ma[i] = getMAinArray(i,7);
    show_data.daily.bar14_efficacy_rate_ma[i] = getMAinArray(i,14);
    // 7本実施率移動平均
  }

  // 総合の実施率を計算してみる
  const task_total = show_data.daily.tasks.reduce((sum,elm)=>{
    return sum + elm;
  },0)
  const started_tasks_total = show_data.daily.started_tasks.reduce((sum,elm)=>{
    return sum + elm;
  },0)
  const finished_tasks_total = show_data.daily.finished_tasks.reduce((sum,elm)=>{
    return sum + elm;
  },0)
  const param_list = document.getElementById("sim_parameter");
  param_list.insertAdjacentHTML('beforeend', `<div><p>総合達成率</p>
    <p onclick="cpElm(this)">${(finished_tasks_total/task_total).toFixed(4)}</p></div>
    <div><p>開始できた割合</p><p onclick="cpElm(this)">${(started_tasks_total/task_total).toFixed(4)}</p></div>
    <div><p>開始タスクの内，終了できた割合</p><p onclick="cpElm(this)">${(finished_tasks_total/started_tasks_total).toFixed(4)}</p></div>
  `);
  function cpElm(e){
    navigator.clipboard.writeText(e.textContent);
  }
  console.log('task total', task_total)
  console.log('started task total', started_tasks_total)
  console.log('finished task total', finished_tasks_total)

  // 週ごとにまとめる(日曜～土曜分をひとまとめにする)
  // 日:0, 土:6
  for(var i = 0; i < show_data.daily.tasks.length; i++){
    let day_i = dayjs(show_data.daily.labels[i]);
    let day_num = day_i.day();
    let base_day = day_i.subtract(day_num, "d");
    let day_period = base_day.add(6,"d");
    // xラベルは"{base_day}-{day_period}"とする
    let weekly_task_index = show_data.weekly.labels.findIndex(elm => elm == base_day.format('YYYY.MM.DD') + "~" + day_period.format('YYYY.MM.DD'));
    if(weekly_task_index == -1){
      const ind = show_data.weekly.tasks.length;
      show_data.weekly.labels[ind] = base_day.format('YYYY.MM.DD') + "~" + day_period.format('YYYY.MM.DD');
      show_data.weekly.tasks[ind] = Number(show_data.daily.tasks[i]);
      show_data.weekly.started_tasks[ind] = Number(show_data.daily.started_tasks[i]);
      show_data.weekly.finished_tasks[ind] = Number(show_data.daily.finished_tasks[i]);
      show_data.weekly.successful_tasks[ind] = Number(show_data.daily.successful_tasks[i]);
      show_data.weekly.base_motivations[ind] = [Number(show_data.daily.base_motivations[i])];
    }else{
      show_data.weekly.tasks[weekly_task_index] += Number(show_data.daily.tasks[i]);
      show_data.weekly.started_tasks[weekly_task_index] += Number(show_data.daily.started_tasks[i]);
      show_data.weekly.finished_tasks[weekly_task_index] += Number(show_data.daily.finished_tasks[i]);
      show_data.weekly.successful_tasks[weekly_task_index] += Number(show_data.daily.successful_tasks[i]);
      show_data.weekly.base_motivations[weekly_task_index].push(Number(show_data.daily.base_motivations[i]));
    }
  }
  for(const [index,item] of show_data.weekly.base_motivations.entries()){
    let sum = item.reduce((prev, elm) => prev + elm);
    show_data.weekly.base_motivations[index] = Math.round(sum / item.length * Math.pow(10,2)) / Math.pow(10,2);
  }
  for(i=0; i < show_data.weekly.labels.length; i++){
    const task1bar_total = show_data.weekly.tasks[i];
    const finished_task1bar_total = show_data.weekly.finished_tasks[i];
    show_data.weekly.bar1_efficacy_rate[i] = Math.round(finished_task1bar_total / task1bar_total * Math.pow(10,2)) / Math.pow(10,2); 
  }
  
  function selectClear(){
    let sl = document.getElementById("DataToAdd");
    let options = sl.options;
    options[0].selected = true;
  }

  let DayType = "daily";
  let prevDataToAdd = "none";
  let prevDataToAdd2 = "none";
  let prevDataToAdd3 = "none";
  function drawChart(dayType = "none"){
    let eDataToAdd = document.getElementById('DataToAdd');
    let eDataToAdd2 = document.getElementById('DataToAdd2');
    let eDataToAdd3 = document.getElementById('DataToAdd3');
    let eDataToAdd4 = document.getElementById('DataToAdd4');
    let DataToAdd = eDataToAdd.options[eDataToAdd.selectedIndex].value;
    let DataToAdd2 = eDataToAdd2.options[eDataToAdd2.selectedIndex].value;
    let DataToAdd3 = eDataToAdd3.options[eDataToAdd3.selectedIndex].value;
    let DataToAdd4 = eDataToAdd4.options[eDataToAdd4.selectedIndex].value;

    let strArray = [];
    let strValueArray = [];
    for(let elm of eDataToAdd.options){
      strArray.push(elm.outerHTML);
      strValueArray.push(elm.value);
    }
    let clearStr = function(arr){
      let nullstr = '<option value="none">無し</option>';
      for(i of arr){
        i.innerHTML = nullstr;
        if(i.id == "DataToAdd2") DataToAdd2 = eDataToAdd2.options[eDataToAdd2.selectedIndex].value; 
        if(i.id == "DataToAdd3") DataToAdd3 = eDataToAdd3.options[eDataToAdd3.selectedIndex].value; 
        if(i.id == "DataToAdd4") DataToAdd4 = eDataToAdd4.options[eDataToAdd4.selectedIndex].value; 
      }
    }
    if(DataToAdd != prevDataToAdd){
      clearStr([eDataToAdd2,eDataToAdd3,eDataToAdd4]);
      prevDataToAdd = DataToAdd;
      let eInd = 0;
      let insertElm2 = strValueArray.filter(function(x,index){
        if(x == DataToAdd) eInd = index;
        return x != DataToAdd;
      });
      insertElm2 = strArray.filter(function(x,index){
        return index != eInd;
      });
      for(i of insertElm2){
        eDataToAdd2.insertAdjacentHTML('beforeend', i);
      }
    }
    if(DataToAdd2 != prevDataToAdd2){
      clearStr([eDataToAdd3,eDataToAdd4]);
      prevDataToAdd2 = DataToAdd2;
      let eInd = [];
      let insertElm3 = strValueArray.filter(function(x,index){
        if(x == DataToAdd || x == DataToAdd2) eInd.push(index);
        return (x != DataToAdd && x != DataToAdd2);
      });
      insertElm3 = strArray.filter(function(x,index){
        if(eInd.indexOf(index) !== -1) return false;
        else return true;
      });
      if(DataToAdd2 != 'none'){
        for(i of insertElm3){
          eDataToAdd3.insertAdjacentHTML('beforeend', i);
        }
      }
    }
    if(DataToAdd3 != prevDataToAdd3){
      clearStr([eDataToAdd4]);
      prevDataToAdd3 = DataToAdd3;
      let eInd = [];
      let insertElm4 = strValueArray.filter(function(x,index){
        if((x == DataToAdd || x == DataToAdd2) || x == DataToAdd3) eInd.push(index);
        return ((x != DataToAdd && x != DataToAdd2) && x != DataToAdd3);
      });
      insertElm4 = strArray.filter(function(x,index){
        if(eInd.indexOf(index) !== -1) return false;
        else return true;
      });
      if(DataToAdd3 != 'none'){
        for(i of insertElm4){
          eDataToAdd4.insertAdjacentHTML('beforeend', i);
        }
      }
    } 
    
    if(dayType == "none") dayType = DayType;
    else DayType = dayType;
    let display = {};

    // 横スクロールできるように
    // https://qiita.com/yutake27/items/fa7b1f6b3c7c65e9d69b
    let xAxisLabelMinWidth = 60, width;
    if(dayType == "daily"){
      width = show_data.daily.tasks.length * xAxisLabelMinWidth + 200;
      display = JSON.parse(JSON.stringify(show_data.daily));
      for(i = 0; i < display.labels.length; i++){
        let words = display.labels[i].split('.');
        display.labels[i] = [words[0], words[1] + "." + words[2]];
      }
    }else if(dayType == "weekly"){
      width = show_data.weekly.tasks.length * xAxisLabelMinWidth + 200;
      display = JSON.parse(JSON.stringify(show_data.weekly));
      for(i = 0; i < display.labels.length; i++){
        let words = display.labels[i].split('~');
        display.labels[i] =  [words[0], "~", words[1]];
      }
    }else if(dayType == "monthly"){
      width = show_data.monthly.tasks.length * xAxisLabelMinWidth + 200;
      display = JSON.parse(JSON.stringify(show_data.monthly));
    }
    if(typeof(window.mychart) !== "undefined"){
      window.mychart.destroy();
      let parent = document.getElementById('chartParent');
      parent.innerHTML = '<canvas id="myChart" class="absolute l-0 t-0"></canvas>';
    }
    const ctx = document.getElementById('myChart');
    ctx.style.width = width+"px";
    ctx.style.height = "450px";
    let data = {
      datasets: [],
      labels: display.labels,
    };

    let options = {
      // responsive: false,
      responsive: false,
      maintainAspectRatio: false,
      interaction:{
        intersect: false,
        mode: 'index'
      },
      plugins: {
        title: {
          display: true,
          text: 'タスク取組状況',
          align: "start"
        },
        legend: {
          align: "start",
        },
      },
      scales: {
      },
    }
    for(data_i of [DataToAdd, DataToAdd2,DataToAdd3,DataToAdd4]){
      if(data_i == "none") continue;
      if(data_i == "base_Motivation"){
        data.datasets.push({
          type: 'line',
          label: 'ユーザの基礎モチベーション',
          data: display.base_motivations,
          yAxisID: 'wave_line',
          datalabels:{
            align: 'top',
            color: '#FF0000',
          },
        });
        options.scales['wave_line'] = {
          position: 'right',
          min: -1.1,
          max: 1.1,
        }
        // options.scales['motivation_line'] = {
        //   position: 'right',
        //   min: -1.1,
        //   max: 1.1,
        // };
      }else if(data_i == "total_Motivation"){
        data.datasets.push({
          type: 'line',
          label: 'ユーザの総合モチベーション',
          data: display.total_motivations,
          yAxisID: 'wave_line',
          datalabels:{
            align: 'top',
            color: '#FF0000',
          },
        });
        options.scales['wave_line'] = {
          position: 'right',
          min: -1.1,
          max: 1.1,
        }
      }else if(data_i == "motiv_need_to_getStart"){
        data.datasets.push({
          type: 'line',
          label: 'タスクを開始するのに必要な総合モチベーション',
          data: display.motiv_need_to_getStart,
          yAxisID: 'wave_line',
          datalabels:{
            align: 'top',
            color: '#FF0000',
          },
        });
        options.scales['wave_line'] = {
          position: 'right',
          min: -1.1,
          max: 1.1,
        }
      }else if(data_i == "motiv_need_to_getItDone"){
        data.datasets.push({
          type: 'line',
          label: 'タスクを終了するのに必要な総合モチベーション',
          data: display.motiv_need_to_getItDone,
          yAxisID: 'wave_line',
          datalabels:{
            align: 'top',
            color: '#FF0000',
          },
        });
        options.scales['wave_line'] = {
          position: 'right',
          min: -1.1,
          max: 1.1,
        }
      }else if(data_i == "data_UserWave"){
        data.datasets.push({
          type: 'line',
          label: 'ユーザの波',
          lineTension: 0.3,
          data: display.usersWaves,
          yAxisID: 'wave_line',
          datalabels:{
            align: 'top',
            color: "#FF0000",
          }
        });
        options.scales['wave_line'] = {
          position: 'right',
          min: -1.1,
          max: 1.1,
        }
      }else if(data_i == "data_WorkWave"){
        data.datasets.push({
          type:'line',
          label: 'ワークの波',
          lineTension: 0.3,
          data: display.worksWaves,
          yAxisID: 'wave_line',
          datalabels:{
            align: 'top',
            color: "#FF0000",
          }
        });
        options.scales['wave_line'] = {
          position: 'right',
          min: -1.1,
          max: 1.1,
        }
      }else if(data_i == "data_task_bar"){
        data.datasets.push(
          {
            type: 'bar',
            label: '設定したタスク',
            data: display.tasks,
            yAxisID: 'task_bar',
            datalabels:{
              display: false
            },
          },
          {
            type: 'bar',
            label: '開始できたタスク',
            data: display.started_tasks,
            yAxisID: 'task_bar',
            datalabels:{
              display: false
            },
          },
          {
            type: 'bar',
            label: '終了できたタスク',
            data: display.finished_tasks,
            yAxisID: 'task_bar',
            datalabels:{
              display: false
            },
          },
          {
            type: 'bar',
            label: '成功したタスク',
            data: display.successful_tasks,
            yAxisID: 'task_bar',
            datalabels:{
              display: false
            },
          },
        );
        options.scales.task_bar = {
          // 小数点を隠す
          ticks:{
            precision: 0,
          },
          beginAtZero: true,
          suggestedMax: 3,
          position: 'left',
        }
      }else if(data_i == "bar7_efficacy_rate_ma"){
        data.datasets.push({
          type:'line',
          label: '7本実施率移動平均',
          lineTension: 0.3,
          data: display.bar7_efficacy_rate_ma,
          yAxisID: 'wave_line',
          datalabels:{
            align: 'top',
          }
        });
      }else if(data_i == "bar14_efficacy_rate_ma"){
        data.datasets.push({
          type:'line',
          label: '14本実施率移動平均',
          lineTension: 0.3,
          data: display.bar14_efficacy_rate_ma,
          yAxisID: 'wave_line',
          datalabels:{
            align: 'top',
          }
        });
      }else if(data_i == "bar1_efficacy_rate"){
        data.datasets.push({
          type:'line',
          label: '実施率',
          lineTension: 0.3,
          data: display.bar1_efficacy_rate,
          yAxisID: 'wave_line',
          datalabels:{
            align: 'top',
          }
        });
      }
    }
    draw(data, options);
    function draw(data, options){
      window.mychart = new Chart(ctx, {
        data: data,
        options: options,
        plugins: [{
          beforeInit(chart){
            const originFit = chart.legend.fit;
            chart.legend.fit = function fit(){
              originFit.bind(chart.legend)();
              this.height += 18;
            }
          }
        }],
      });
    }
  }
  drawChart('daily');
</script>