<%- include('partials/header'); %>

<div class="m-4 p-7">
  <ul class="w-1/3 [&>li]:p-2 [&>li]:border-b-4">
    <li>前回のシミュレーション実行時刻: <b><%= func.ddate(logs.updatedAt) %></b></li>
    <li>simulating date: <b><%= func.ddate(logs.startedAt) + " ～ " + func.ddate(logs.finishedAt) %></b></li>
  </ul>

  <form class="py-6 w-full max-w-sm">
    <div class="flex items-center border-b border-teal-500 py-2">
      <label><input class="" type="checkbox">aaa</label>
    </div>
  </form>
</div>

<%- include('partials/footer'); %>